<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/all-blogs.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="blogs-container">
            <% if (blogs && blogs.length) { %>
             
            <% if (categoriesWithCount) { %>
                <div class="blogCategory">
                    <h3>Category: </h3>
                    <select id="categorySelect">
                        <option value="all">All (<%= blogsCount %>)</option>
                            <% categoriesWithCount.forEach(category => { %>
                                <option value="<%= category.category %>"><%= category.category %> (<%= category.count %>)</option>
                            <% }) %>
                    </select>
                </div>  
            <% } %>
            <div class="sortOptions">
                <h3>Sort by: </h3>
                <a href="#" data-sort="likesCount" data-order="asc">Popularity</a>
                <a href="#" data-sort="updatedAt" data-order="asc">Oldest</a>
                <a href="#" data-sort="updatedAt" data-order="desc">Latest</a>
            </div>

            <div class="blogs-grid" id="blogsGrid">
                <% blogs.forEach(blog => { %>
                    <%- include('partials/blog', { blog }) %>
                <% }) %>

            </div>

            <% } else { %>
                <h2 style="text-align: center; margin: 200px auto;">No blogs found</h2>
            <% } %>
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/all-blogs.js"></script>
</body>
</html>
