<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/blog-page.css">
</head>
<body>
    <%- include('partials/header') %>
    <main id="blog-container" data-blog-id="<%= blog._id %>" data-user-id="<%= user._id %>">
        <div class="popularity">
            <% if (blog.popularRank) { %>
                <div class="tag">Popular #<%= blog.popularRank %></div>
            <% } %>
            <% if (blog.trendingRank) { %>
                <div class="tag">Trending #<%= blog.trendingRank %></div>
            <% } %>
            <div class="tag"><span id="view-Count"><%= blog.viewsCount %></span> Views</div>
            <div class="tag"><span class="share-count"><%= blog.shareCount %></span> Shares</div>
        </div>
        <h1 class="title"><%= blog.title %></h1>
        <h4 class="category"><%= blog.categories.toString().replaceAll(',', ' | ') %></h4>
        <img class="blog-image" src="<%= blog.image || 'https://via.placeholder.com/1200x700' %>" alt="">
        <div class="params">
            <div class="date">Posted on: <%= blog.createdAt.toLocaleString('en-In') %></div>
            <div class="stats">
                <div class="likes"><i class=" <%= !blog.author.isSelf && blog.likedByUser ? 'liked' : ''%> fa fa-thumbs-up"></i> <%= blog.likesCount %></div>
                <div class="dislikes"><i class=" <%= !blog.author.isSelf && blog.dislikedByUser ? 'disliked' : ''%> fa fa-thumbs-down"></i> <%= blog.dislikesCount %></div>
                <div class="shares"><i class="share-blog fa fa-share"></i> <span class="share-count"><%= blog.shareCount %></span></div>
            </div>
        </div>
        <div class="content">
           <%- blog.content %>
        </div>
        <div class="credits">
            <div class="author">
                <img class="author-avatar" src="<%= blog.author.avatar || 'https://i.pravatar.cc/100' %>" alt="avatar">
                <div class="detail">
                    <h4><%= blog.author.username %></h4>
                    <p><%= blog.author.followerCount %> Followers</p>
                </div>
                <button><%= !blog.author.isSelf && blog.author.isFollowed ? 'Following' : 'Follow' %></button>
            </div>
            <div class="share">
                <h4>Share this blog on:</h4>
                <div class="icons">
                    <i class="share-blog fa-brands fa-facebook"></i>
                    <i class="share-blog fa-brands fa-twitter"></i>
                    <i class="share-blog fa-brands fa-linkedin"></i>
                    <i class="share-blog fa-brands fa-whatsapp"></i>
                    <i class="share-blog fa-brands fa-telegram"></i>
                </div>
            </div>
        </div>
    </main>

    <section id="comments">
        <div class="heading">
            <h2>Comments <span><%= blog.commentCount %></span></h2>
            <select name="filter" id="filter">
                <option value="recent">Recent</option>
                <option value="popular">Popular</option>
            </select>
        </div>
        <div class="add">
            <img src="https://i.pravatar.cc/100" alt="avatar">
            <input id="commentInput" type="text" placeholder="Add a comment">
            <button id="postCommentBtn">Post</button>
        </div>
        <div id="commentsContainer">
        
        </div>
        <a class="more" id="showAllComments">Show All</a>
    </section>

    <section id="suggestions">
        <h3>Simmilar Blogs</h3>
        <div class="blogs">
            <% blog.similarBlogs.forEach(Sblog => { %>
                <div class="blog-card">
                    <img src="<%= Sblog.image || 'https://via.placeholder.com/300x200' %>" alt="Blog 1">
                    <div class="blog-info">
                        <h3><%= Sblog.title %></h3>
                        <div><%- Sblog.content %></div>
                        <a href="/blog/view/<%= Sblog._id %>">Read More</a>
                    </div>
                </div>
            <% }) %>

        </div>
    </section>
    <%- include('partials/footer') %>

    <script src="/js/blog-page.js"></script>
</body>
</html>