<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/add-blog.css">
    <title>Edit Blog | Blogit</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="body">
        <div class="container">
            
            <h2 id="pageHeading" class="heading" data-blogId="<%= blog._id %>">Edit Blog</h2>
            <form id="addBlogForm" autocomplete="off">
                <div class="input_field">
                    <input type="text" id="blogTitle" name="blogTitle" value="<%= blog.title %>" required>
                </div>
                <div class="input_field">
                    <label for="blogImage">Choose New Image</label>
                    <input type="file" id="blogImage" name="blogImage" accept="image/*">
                    <div class="file-info" id="fileInfo">Old image</div>
                </div>
                <div class="image-preview" id="imagePreview">
                    <img src="<%= blog.image || '' %>" alt="">
                </div>
                <div class="input_field">
                    <div id="editor" name="blogContent">
                        <%- blog.content %>
                    </div>
                </div>
                <div class="input_field">
                    <select id="categorySelect">
                        <option value="">Select Category</option>
                        <% const allCategories = ["Technology", "Travel", "Food", "Health", "Science", "Finance", "Fashion", "Sports"]; %>
                        <% allCategories.forEach(category => { %>
                            <% if (!blog.categories.includes(category)) { %>
                                <option value="<%= category %>"><%= category %></option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>
                <div class="category-container" id="categoryContainer">
                    <%  blog.categories.forEach(category => { %>
                        <div class="category-chip"><%= category %> <button class="remove-btn">×</button></div>
                    <% }) %>
                </div>
                <div class="input_field publish-button-input">
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/edit-blog.js"></script>
    <%- include('partials/footer') %>
</body>
</html>
