<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <title>Homepage | Blogit</title>
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <!-- Welcome Section -->
        <section class="welcome-section">
            <div class="welcome-content" >
                <h1>Welcome to Blogit!</h1>
                <p>Your go-to place for the latest and greatest in blogging. Discover, explore, and share your thoughts with the world.</p>
                <div class="cta-buttons">
                    <a href="/all-blogs" class="btn explore-btn">Explore Blogs</a>
                    <% if (user) { %>
                        <a href='/add-blog' class="btn add-blog-btn">Add Blog</a>
                    <%  } %>
                </div>
            </div>
        </section>
        

        <!-- Categories Section -->
        <section class="categories">
            <h2>Explore by Categories</h2>
            <div onclick="window.location.href='/blog/category/tech'" class="category">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <p>Tech</p>
            </div>
            <div onclick="window.location.href='/blog/category/travel'" class="category">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <p>Travel</p>
            </div>
            <div onclick="window.location.href='/blog/category/food'" class="category">
                <i class="fa fa-utensils" aria-hidden="true"></i>
                <p>Food</p>
            </div>
            <div onclick="window.location.href='/blog/category/health'" class="category">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                <p>Health</p>
            </div>
            <div window.location.href='/blog/category/science' class="category">
                <i class="fa fa-flask" aria-hidden="true"></i>
                <p>Science</p>
            </div>
            <div onclick="window.location.href='/blog/category/fashion'" class="category">
                <i class="fa fa-tshirt" aria-hidden="true"></i>
                <p>Fashion</p>
            </div>
            <div onclick="window.location.href='/blog/category/finance'" class="category">
                <i class="fa fa-dollar" aria-hidden="true"></i>
                <p>Finance</p>
            </div>
            <div onclick="window.location.href='/blog/category/sports'" class="category">
                <i class="fa fa-futbol" aria-hidden="true"></i>
                <p>Sports</p>
            </div>
        </section>
        

        <!-- Trending Blogs Section, Latest are coming from backend, need trending--> 
        <section class="latest-blogs">
            <h2>Trending Now</h2>
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
                <% latestBlogs.forEach(blog => { %>
                    <div class="blog-card carousel-cell">
                        <img src="<%= blog.image || `https://res.cloudinary.com/blogit-cloud/image/upload/v1749225682/a79b49a9-bf3b-486d-ab54-d03e68b51497.png` %>" alt="Blog 3">
                        <div class="blog-info">
                            <h3><%= blog.title %></h3>
                            <div><%- blog.content %></div>
                        </div>
                        <a href="/blog/view/<%= blog._id %>">Read Blog</a>
                    </div>
                <% }) %>
            </div>
        </section>


        <!-- Upcoming Events Section -->
        <section class="upcoming-events">
            <h2>Upcoming Events & Webinars</h2>
            <div class="events-grid">
                <div class="event-card">
                    <div class="event-image">
                        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/68358f40da433_samsung-galaxy-ai-treasure-hunt.jpg?d=1920x1920" alt="Event 1">
                    </div>
                    <div class="event-details">
                        <h3>Samsung Galaxy AI Treasure Hunt</h3>
                        <p>Join us for an insightful session on cutting-edge technology. Reserve your spot today!</p>
                        <a href="https://unstop.com/quiz/samsung-galaxy-ai-treasure-hunt-samsung-1485695?ref=JAKPTzDe" target="_blank">Learn More</a>
                    </div>
                </div>
                <div class="event-card">
                    <div class="event-image">
                        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/banner/68233340db95b_the-coca-cola-mantra-challenge-2025.webp?d=1920x557" alt="Event 2">
                    </div>
                    <div class="event-details">
                        <h3>The Coca-Cola Mantra Challenge</h3>
                        <p>Where Tomorrow’s Business Leaders Are Forged Today to Lead Tomorrow! Hiring posts open !</p>
                        <a href="https://unstop.com/competitions/the-coca-cola-mantra-challenge-2025-coca-cola-india-and-southwest-asia-1476565?ref=HMFTRD" target="_blank">Learn More</a>
                    </div>
                </div>
                <div class="event-card">
                    <div class="event-image">
                        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/banner/683a7d6c5682d_unstop-igniters-club.webp?d=1920x557" alt="Event 2">
                    </div>
                    <div class="event-details">
                        <h3>Unstop Igniters Club #BeUnstoppable</h3>
                        <p>A half-baked campaign,where you’re not just a participant, you’re a changemaker in disguise.</p>
                        <a href="https://unstop.com/internships/unstop-igniters-club-unstop-1483401?ref=HMFTRD" target="_blank">Learn More</a>
                    </div>
                </div>
                <!-- Add more event cards as needed -->
            </div>
        </section>
        

        <!-- Popular Blogs Section -->
        <section class="popular-blogs">
            <h2>Popular Blogs</h2>
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
                <% popularBlogs.forEach(blog => { %>
                    <div class="blog-card carousel-cell">
                        <img src="<%= blog.image || `https://res.cloudinary.com/blogit-cloud/image/upload/v1749225682/a79b49a9-bf3b-486d-ab54-d03e68b51497.png` %>" alt="Blog 3">
                        <div class="blog-info">
                            <h3><%= blog.title %></h3>
                            <div><%- blog.content %></div>
                        </div>
                        <a href="/blog/view/<%= blog._id %>">Read More</a>
                    </div>
                <% }) %>
            </div>
        </section>

        <!-- Statistics Section -->
        <section class="blogs-statistics">
            <h2>Blogit Statistics</h2>
            <div class="stats-grid">
                <div class="stat-card cursor">
                    <h3>Total Users</h3>
                    <p class="stat-value"><%= statistics.totalUsers %></p>
                </div>
                <div class="stat-card cursor">
                    <h3>Total Blogs</h3>
                    <p class="stat-value"><%= statistics.totalBlogs %></p>
                </div>
                <div class="stat-card cursor">
                    <h3>Top Author</h3>
                    <p class="stat-value"><%= statistics.topAuthor || 'N/A' %></p>
                </div>
                <div class="stat-card cursor">
                    <h3>Most Liked Blog</h3>
                    <p class="stat-value"><%= statistics.mostLikedBlog || 'N/A' %></p>
                </div>
            </div>
        </section>
        
        
    </main>
    
    <%- include('partials/footer') %>
        
    <script src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
