<div class="profile-blog" onclick="window.location.href='/blog/view/<%= blog._id %>'">
    <img src="<%= blog.image || 'https://via.placeholder.com/200x120' %>" alt="Blog Image" >
    <div class="blog-actions">
        <button class="edit-btn" onclick="event.stopPropagation(); window.location.href='/blog/edit/<%= blog._id %>'">
            <i class="fa fa-edit"></i> Edit
        </button>
        <button id="delete-btn" class="delete-btn" onclick="event.stopPropagation(); deleteBlog('<%= blog._id %>')">
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
    <div class="blog-content" >
        <h2 class="title"><%= blog.title %></h2>
        <div class="excerpt"><%- blog.content %></div>
    </div>
    <div class="blog-meta" >
        <span class="category"><%= blog.categories.toString().replaceAll(',', ' | ') %></span>
        <div class="blog-stats">
            <span class="date" data-date="<%= blog.updatedAt.toISOString().split('T')[0] %>"><%= blog.updatedAt.toLocaleString('en-In').split(',')[0] %></span>
            <div class="comments">
                <i class="fa fa-comments"></i> <span><%= blog.commentsCount %></span>
            </div>
            <div class="likesCount">
                <i class="fa fa-thumbs-up"></i> <span><%= blog.likesCount %></span>
            </div>
            <div class="dislikesCount">
                <i class="fa fa-thumbs-down"></i> <span><%= blog.dislikesCount %></span>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteBlog(blogId) {
        if (confirm('Are you sure you want to delete this blog?')) {
            fetch('/blog/delete/' + blogId, {
                method: 'DELETE',
            }).then((response) => {
                if (response.ok) {
                    console.log('Blog deleted successfully');
                    window.location.reload(); // Reload page or redirect
                } else {
                    console.error('Failed to delete blog');
                }
            }).catch(error => {
                console.error('Error deleting blog:', error);
            });
        }
    }
</script>
